<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=41.791284&lon=-88.408141&name=Home"> </iframe>

  </div>
</div>

<div style="margin-left:auto; margin-right:auto; width:90%">
<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Tube+1+Temperature&type=line&yaxis=%2AF"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Tube+2+Temperature&type=line&yaxis=%2AF"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Tube+3+Temperature&type=line&yaxis=%2AF"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Tank+Temperature&type=line&yaxis=%2AF"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Ambient+Humidity&type=line&yaxis=%25"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Air+Temperature&type=line&yaxis=%2AF"></iframe>

<iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/122706/charts/7?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=CPU+Temperature&type=line&yaxis=%2AF"></iframe>


</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>